<p><center>Welcome to Mate!</center></p>
<p><center>The amateur dogbreeding app for your phone!</center></p>
<!--
<p>Because Everybody Needs Love</p>
-->
<img src="../public/photos/loading.png" alt="">
<meta http-equiv="refresh" content="7;url=/users" />
<!--hello ;)-->
