<form action="/users/{{user._id}}/dogs" method="post">
<input type="hidden" value="{{user._id}}" name="userId">
  <fieldset>
    <legend>New Dog</legend>
    <!-- TITLE -->
    <p>
      <label for="dog">name</label><br>
      <input type="text" name="_id.dog.name" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Dog</button>
  </p>

</form>
