<form method="POST" action="/users/{{user._id}}?_method=PUT">
    <input type="hidden" value="{{user._id}}" name="userId">
  <fieldset>
    <legend>Where do you live?</legend

    <!-- MOVIE TITLE -->
    <p>
      <label for="street_address">Street Address</label><br>
      <input id="street_address" type="text" name="street_address" value="{{user.street_address}}" />
    </p>

    <p>
      <label for="zip">Zip Code</label><br>
      <input id="zip" type="text" name="zip" value="{{user.zip}}" />
    </p>

  </fieldset>
  <!-- BUTTON -->
  <p>
    <button type="submit">Continue</button>
  </p>
</form>
