<!-- users-index -->
<h1>users</h1>
{{#each users}}
  <h2><a href="/users/{{this._id}}">{{this.name}}</a></h2>
  <p><small>{{this.dog}}</small></p>
{{/each}}

<a href="/users/new">New User</a>
<a href="http://www.akc.org/dog-breeds/poodle ">Test</a>

<form method="GET" action="//www.google.de/search">
    <input type="hidden" name="as_sitesearch" value="http://www.akc.org">
    <input type="text" name="q">
    <input type="submit" value="Search!">
</form>

<p>Breed:</p>
<form method="GET" action="//www.google.de/search">
    <input type="hidden" name="as_sitesearch" value="http://www.akc.org">
    <input type="text" name="q">
    <input type="submit" value="Enter">
</form>
